# CF Based RecSys by Low Rank Matrix Factorization

In [1]:
# Ignore  the warnings
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

# data visualisation and manipulation
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns
 
#configure
# sets matplotlib to inline and displays graphs below the corressponding cell.
%matplotlib inline  
style.use('fivethirtyeight')
sns.set(style='whitegrid',color_codes=True)

#model selection
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score,precision_score,recall_score,confusion_matrix,roc_curve,roc_auc_score
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import LabelEncoder

#preprocess.
from keras.preprocessing.image import ImageDataGenerator

#dl libraraies
import keras
from keras import backend as K
from keras.models import Sequential
from keras.layers import Dense , merge
from tensorflow.keras.optimizers import Adam,SGD,Adagrad,Adadelta,RMSprop
from tensorflow.keras.utils import to_categorical
from keras.utils.vis_utils import model_to_dot
from keras.callbacks import ReduceLROnPlateau


from keras.layers.merge import dot
from keras.models import Model


# specifically for deeplearning.
from keras.layers import Dropout, Flatten,Activation,Input,Embedding
from keras.layers import Conv2D, MaxPooling2D, BatchNormalization
import tensorflow as tf
import random as rn
from IPython.display import SVG
 
# specifically for manipulating zipped images and getting numpy arrays of pixel values of images.
import cv2                  
import numpy as np  
from tqdm import tqdm
import os                   
from random import shuffle  
from zipfile import ZipFile
from PIL import Image


#TL pecific modules
from keras.applications.vgg16 import VGG16

In [13]:
train = pd.read_csv("ratings.csv")

In [15]:
df = train.copy()
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [16]:
print(len(df))

100836

In [17]:
df['userId'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
       560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572,
       573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585,
       586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
       599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610],
      dtype=int64)

In [18]:
len(df['userId'].unique())

610

In [19]:
df['movieId'].unique()

array([     1,      3,      6, ..., 160836, 163937, 163981], dtype=int64)

In [20]:
len(df['movieId'].unique())

9724

Note that for 671 users and 9066 movies we can have a maximum of 671*9066 = 6083286 ratings. But note that we have only 100004 ratings with us. Hence the utility matrix has only about 1.6 % of the total values. Thus it can be concluded that it is quite sparse. This limits the use of some algorithms. Hence we will create embeddings for them later.

In [21]:
df['userId'].isnull().sum()

0

In [22]:
df['rating'].isnull().sum()

0

In [23]:
df['movieId'].isnull().sum()

0

In [24]:
#### none of the columns have null or Nan values

In [25]:
df['rating'].min() # minimum rating

0.5

In [26]:
df['rating'].max() #maximum rating

5.0

### prepare our data

In [27]:
df.userId = df.userId.astype('category').cat.codes.values
df.movieId = df.movieId.astype('category').cat.codes.values

In [30]:
df['userId'].value_counts(ascending=True)

441      20
405      20
146      20
193      20
568      20
       ...
273    1346
447    1864
473    2108
598    2478
413    2698
Name: userId, Length: 610, dtype: int64

In [32]:
df['movieId'].value_counts(ascending=True)

9372      1
9060      1
9062      1
4027      1
3888      1
       ...
1938    278
510     279
257     307
277     317
314     329
Name: movieId, Length: 9724, dtype: int64

In [33]:
df['movieId'].unique()

array([   0,    2,    5, ..., 9324, 9371, 9372], dtype=int16)

In [34]:
# creating utility matrix.
index=list(df['userId'].unique())
columns=list(df['movieId'].unique())
index=sorted(index)
columns=sorted(columns)
 
util_df=pd.pivot_table(data=df,values='rating',index='userId',columns='movieId')
# Nan implies that user has not rated the corressponding movie.

In [35]:
util_df

movieId,0,1,2,3,4,5,6,7,8,9,...,9714,9715,9716,9717,9718,9719,9720,9721,9722,9723
userId,,,,,,,,,,,,,,,,,,,,,
0,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
606,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### BREAKING IT DOWN--
1) This is the utility matrix; for each of the 671 users arranged rowwise; each column shows the rating of the movie given by a particular user.

2) Note that majority of the matrix is filled with 'Nan' which shows that majority of the movies are unrated by many users.

3) For each movie-user pair if the entry is NOT 'Nan' the vaue indicates the rating given by user to that corressponding movie.

4) For now I am gonna fill the 'Nan' value with value '0'. But note that this just is just indicative, a 0 implies NO RATING and doesn't mean that user has rated 0 to that movie. It doesn't at all represent any rating.

In [36]:
util_df.fillna(0)

movieId,0,1,2,3,4,5,6,7,8,9,...,9714,9715,9716,9717,9718,9719,9720,9721,9722,9723
userId,,,,,,,,,,,,,,,,,,,,,
0,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
606,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

###  Creating Training and Validation Sets

In [44]:
users = df.userId.unique()
movies = df.movieId.unique()

userid2idx = { o:i for i,o in enumerate(users)}
movieid2idx = {o:i for i,o in enumerate(movies)}

In [45]:
userid2idx

{0: 0,
 1: 1,
 2: 2,
 3: 3,
 4: 4,
 5: 5,
 6: 6,
 7: 7,
 8: 8,
 9: 9,
 10: 10,
 11: 11,
 12: 12,
 13: 13,
 14: 14,
 15: 15,
 16: 16,
 17: 17,
 18: 18,
 19: 19,
 20: 20,
 21: 21,
 22: 22,
 23: 23,
 24: 24,
 25: 25,
 26: 26,
 27: 27,
 28: 28,
 29: 29,
 30: 30,
 31: 31,
 32: 32,
 33: 33,
 34: 34,
 35: 35,
 36: 36,
 37: 37,
 38: 38,
 39: 39,
 40: 40,
 41: 41,
 42: 42,
 43: 43,
 44: 44,
 45: 45,
 46: 46,
 47: 47,
 48: 48,
 49: 49,
 50: 50,
 51: 51,
 52: 52,
 53: 53,
 54: 54,
 55: 55,
 56: 56,
 57: 57,
 58: 58,
 59: 59,
 60: 60,
 61: 61,
 62: 62,
 63: 63,
 64: 64,
 65: 65,
 66: 66,
 67: 67,
 68: 68,
 69: 69,
 70: 70,
 71: 71,
 72: 72,
 73: 73,
 74: 74,
 75: 75,
 76: 76,
 77: 77,
 78: 78,
 79: 79,
 80: 80,
 81: 81,
 82: 82,
 83: 83,
 84: 84,
 85: 85,
 86: 86,
 87: 87,
 88: 88,
 89: 89,
 90: 90,
 91: 91,
 92: 92,
 93: 93,
 94: 94,
 95: 95,
 96: 96,
 97: 97,
 98: 98,
 99: 99,
 100: 100,
 101: 101,
 102: 102,
 103: 103,
 104: 104,
 105: 105,
 106: 106,
 107: 107,
 108: 108,
 109: 109,
 110: 110,
 111: 111,
 112: 112,
 113: 113,
 114: 114,
 115: 115,
 116: 116,
 117: 117,
 118: 118,
 119: 119,
 120: 120,
 121: 121,
 122: 122,
 123: 123,
 124: 124,
 125: 125,
 126: 126,
 127: 127,
 128: 128,
 129: 129,
 130: 130,
 131: 131,
 132: 132,
 133: 133,
 134: 134,
 135: 135,
 136: 136,
 137: 137,
 138: 138,
 139: 139,
 140: 140,
 141: 141,
 142: 142,
 143: 143,
 144: 144,
 145: 145,
 146: 146,
 147: 147,
 148: 148,
 149: 149,
 150: 150,
 151: 151,
 152: 152,
 153: 153,
 154: 154,
 155: 155,
 156: 156,
 157: 157,
 158: 158,
 159: 159,
 160: 160,
 161: 161,
 162: 162,
 163: 163,
 164: 164,
 165: 165,
 166: 166,
 167: 167,
 168: 168,
 169: 169,
 170: 170,
 171: 171,
 172: 172,
 173: 173,
 174: 174,
 175: 175,
 176: 176,
 177: 177,
 178: 178,
 179: 179,
 180: 180,
 181: 181,
 182: 182,
 183: 183,
 184: 184,
 185: 185,
 186: 186,
 187: 187,
 188: 188,
 189: 189,
 190: 190,
 191: 191,
 192: 192,
 193: 193,
 194: 194,
 195: 195,
 196: 196,
 197: 197,
 198: 198,
 199: 199,
 200: 200,
 201: 201,
 202: 202,
 203: 203,
 204: 204,
 205: 205,
 206: 206,
 207: 207,
 208: 208,
 209: 209,
 210: 210,
 211: 211,
 212: 212,
 213: 213,
 214: 214,
 215: 215,
 216: 216,
 217: 217,
 218: 218,
 219: 219,
 220: 220,
 221: 221,
 222: 222,
 223: 223,
 224: 224,
 225: 225,
 226: 226,
 227: 227,
 228: 228,
 229: 229,
 230: 230,
 231: 231,
 232: 232,
 233: 233,
 234: 234,
 235: 235,
 236: 236,
 237: 237,
 238: 238,
 239: 239,
 240: 240,
 241: 241,
 242: 242,
 243: 243,
 244: 244,
 245: 245,
 246: 246,
 247: 247,
 248: 248,
 249: 249,
 250: 250,
 251: 251,
 252: 252,
 253: 253,
 254: 254,
 255: 255,
 256: 256,
 257: 257,
 258: 258,
 259: 259,
 260: 260,
 261: 261,
 262: 262,
 263: 263,
 264: 264,
 265: 265,
 266: 266,
 267: 267,
 268: 268,
 269: 269,
 270: 270,
 271: 271,
 272: 272,
 273: 273,
 274: 274,
 275: 275,
 276: 276,
 277: 277,
 278: 278,
 279: 279,
 280: 280,
 281: 281,
 282: 282,
 283: 283,
 284: 284,
 285: 285,
 286: 286,
 287: 287,
 288: 288,
 289: 289,
 290: 290,
 291: 291,
 292: 292,
 293: 293,
 294: 294,
 295: 295,
 296: 296,
 297: 297,
 298: 298,
 299: 299,
 300: 300,
 301: 301,
 302: 302,
 303: 303,
 304: 304,
 305: 305,
 306: 306,
 307: 307,
 308: 308,
 309: 309,
 310: 310,
 311: 311,
 312: 312,
 313: 313,
 314: 314,
 315: 315,
 316: 316,
 317: 317,
 318: 318,
 319: 319,
 320: 320,
 321: 321,
 322: 322,
 323: 323,
 324: 324,
 325: 325,
 326: 326,
 327: 327,
 328: 328,
 329: 329,
 330: 330,
 331: 331,
 332: 332,
 333: 333,
 334: 334,
 335: 335,
 336: 336,
 337: 337,
 338: 338,
 339: 339,
 340: 340,
 341: 341,
 342: 342,
 343: 343,
 344: 344,
 345: 345,
 346: 346,
 347: 347,
 348: 348,
 349: 349,
 350: 350,
 351: 351,
 352: 352,
 353: 353,
 354: 354,
 355: 355,
 356: 356,
 357: 357,
 358: 358,
 359: 359,
 360: 360,
 361: 361,
 362: 362,
 363: 363,
 364: 364,
 365: 365,
 366: 366,
 367: 367,
 368: 368,
 369: 369,
 370: 370,
 371: 371,
 372: 372,
 373: 373,
 374: 374,
 375: 375,
 376: 376,
 377: 377,
 378: 378,
 379: 379,
 380: 380,
 381: 381,
 382: 382,
 383: 383,
 384: 384,
 385: 385,
 386: 386,
 387: 387,
 388: 388,
 389: 389,
 390: 390,
 391: 391,
 392: 392,
 393: 393,
 394: 394,
 395: 395,
 396: 396,
 397: 397,
 398: 398,
 399: 399,
 400: 400,
 401: 401,
 402: 402,
 403: 403,
 404: 404,
 405: 405,
 406: 406,
 407: 407,
 408: 408,
 409: 409,
 410: 410,
 411: 411,
 412: 412,
 413: 413,
 414: 414,
 415: 415,
 416: 416,
 417: 417,
 418: 418,
 419: 419,
 420: 420,
 421: 421,
 422: 422,
 423: 423,
 424: 424,
 425: 425,
 426: 426,
 427: 427,
 428: 428,
 429: 429,
 430: 430,
 431: 431,
 432: 432,
 433: 433,
 434: 434,
 435: 435,
 436: 436,
 437: 437,
 438: 438,
 439: 439,
 440: 440,
 441: 441,
 442: 442,
 443: 443,
 444: 444,
 445: 445,
 446: 446,
 447: 447,
 448: 448,
 449: 449,
 450: 450,
 451: 451,
 452: 452,
 453: 453,
 454: 454,
 455: 455,
 456: 456,
 457: 457,
 458: 458,
 459: 459,
 460: 460,
 461: 461,
 462: 462,
 463: 463,
 464: 464,
 465: 465,
 466: 466,
 467: 467,
 468: 468,
 469: 469,
 470: 470,
 471: 471,
 472: 472,
 473: 473,
 474: 474,
 475: 475,
 476: 476,
 477: 477,
 478: 478,
 479: 479,
 480: 480,
 481: 481,
 482: 482,
 483: 483,
 484: 484,
 485: 485,
 486: 486,
 487: 487,
 488: 488,
 489: 489,
 490: 490,
 491: 491,
 492: 492,
 493: 493,
 494: 494,
 495: 495,
 496: 496,
 497: 497,
 498: 498,
 499: 499,
 500: 500,
 501: 501,
 502: 502,
 503: 503,
 504: 504,
 505: 505,
 506: 506,
 507: 507,
 508: 508,
 509: 509,
 510: 510,
 511: 511,
 512: 512,
 513: 513,
 514: 514,
 515: 515,
 516: 516,
 517: 517,
 518: 518,
 519: 519,
 520: 520,
 521: 521,
 522: 522,
 523: 523,
 524: 524,
 525: 525,
 526: 526,
 527: 527,
 528: 528,
 529: 529,
 530: 530,
 531: 531,
 532: 532,
 533: 533,
 534: 534,
 535: 535,
 536: 536,
 537: 537,
 538: 538,
 539: 539,
 540: 540,
 541: 541,
 542: 542,
 543: 543,
 544: 544,
 545: 545,
 546: 546,
 547: 547,
 548: 548,
 549: 549,
 550: 550,
 551: 551,
 552: 552,
 553: 553,
 554: 554,
 555: 555,
 556: 556,
 557: 557,
 558: 558,
 559: 559,
 560: 560,
 561: 561,
 562: 562,
 563: 563,
 564: 564,
 565: 565,
 566: 566,
 567: 567,
 568: 568,
 569: 569,
 570: 570,
 571: 571,
 572: 572,
 573: 573,
 574: 574,
 575: 575,
 576: 576,
 577: 577,
 578: 578,
 579: 579,
 580: 580,
 581: 581,
 582: 582,
 583: 583,
 584: 584,
 585: 585,
 586: 586,
 587: 587,
 588: 588,
 589: 589,
 590: 590,
 591: 591,
 592: 592,
 593: 593,
 594: 594,
 595: 595,
 596: 596,
 597: 597,
 598: 598,
 599: 599,
 600: 600,
 601: 601,
 602: 602,
 603: 603,
 604: 604,
 605: 605,
 606: 606,
 607: 607,
 608: 608,
 609: 609}

In [49]:
movieid2idx

{0: 0,
 2: 1,
 5: 2,
 43: 3,
 46: 4,
 62: 5,
 89: 6,
 97: 7,
 124: 8,
 130: 9,
 136: 10,
 184: 11,
 190: 12,
 197: 13,
 201: 14,
 224: 15,
 257: 16,
 275: 17,
 291: 18,
 307: 19,
 314: 20,
 320: 21,
 325: 22,
 367: 23,
 384: 24,
 398: 25,
 418: 26,
 436: 27,
 461: 28,
 476: 29,
 484: 30,
 485: 31,
 508: 32,
 509: 33,
 510: 34,
 513: 35,
 520: 36,
 546: 37,
 551: 38,
 559: 39,
 592: 40,
 594: 41,
 615: 42,
 632: 43,
 701: 44,
 705: 45,
 720: 46,
 723: 47,
 734: 48,
 767: 49,
 781: 50,
 782: 51,
 783: 52,
 786: 53,
 787: 54,
 788: 55,
 789: 56,
 797: 57,
 801: 58,
 810: 59,
 815: 60,
 819: 61,
 827: 62,
 828: 63,
 830: 64,
 835: 65,
 855: 66,
 862: 67,
 897: 68,
 898: 69,
 899: 70,
 906: 71,
 908: 72,
 910: 73,
 913: 74,
 914: 75,
 919: 76,
 920: 77,
 922: 78,
 924: 79,
 926: 80,
 938: 81,
 954: 82,
 956: 83,
 963: 84,
 968: 85,
 973: 86,
 976: 87,
 980: 88,
 989: 89,
 995: 90,
 1035: 91,
 1059: 92,
 1075: 93,
 1083: 94,
 1109: 95,
 1125: 96,
 1145: 97,
 1153: 98,
 1170: 99,
 1180: 100,
 1182: 101,
 1189: 102,
 1217: 103,
 1219: 104,
 1223: 105,
 1234: 106,
 1260: 107,
 1297: 108,
 1318: 109,
 1325: 110,
 1331: 111,
 1332: 112,
 1400: 113,
 1406: 114,
 1430: 115,
 1443: 116,
 1474: 117,
 1479: 118,
 1486: 119,
 1492: 120,
 1502: 121,
 1504: 122,
 1515: 123,
 1516: 124,
 1521: 125,
 1525: 126,
 1542: 127,
 1552: 128,
 1555: 129,
 1556: 130,
 1558: 131,
 1561: 132,
 1566: 133,
 1575: 134,
 1576: 135,
 1594: 136,
 1596: 137,
 1598: 138,
 1600: 139,
 1616: 140,
 1627: 141,
 1643: 142,
 1673: 143,
 1686: 144,
 1690: 145,
 1703: 146,
 1733: 147,
 1742: 148,
 1754: 149,
 1767: 150,
 1787: 151,
 1789: 152,
 1795: 153,
 1805: 154,
 1813: 155,
 1825: 156,
 1841: 157,
 1849: 158,
 1857: 159,
 1865: 160,
 1873: 161,
 1882: 162,
 1903: 163,
 1904: 164,
 1916: 165,
 1938: 166,
 1945: 167,
 1956: 168,
 1970: 169,
 1971: 170,
 1978: 171,
 1985: 172,
 1986: 173,
 1989: 174,
 1990: 175,
 1993: 176,
 1996: 177,
 2019: 178,
 2027: 179,
 2037: 180,
 2076: 181,
 2102: 182,
 2125: 183,
 2144: 184,
 2156: 185,
 2181: 186,
 2192: 187,
 2214: 188,
 2216: 189,
 2217: 190,
 2218: 191,
 2224: 192,
 2246: 193,
 2248: 194,
 2252: 195,
 2254: 196,
 2257: 197,
 2284: 198,
 2285: 199,
 2300: 200,
 2301: 201,
 2308: 202,
 2370: 203,
 2386: 204,
 2392: 205,
 2429: 206,
 2432: 207,
 2438: 208,
 2458: 209,
 2523: 210,
 2568: 211,
 2569: 212,
 2570: 213,
 2576: 214,
 2578: 215,
 2599: 216,
 2604: 217,
 2632: 218,
 2670: 219,
 2692: 220,
 2709: 221,
 2729: 222,
 2760: 223,
 2761: 224,
 2784: 225,
 2794: 226,
 2798: 227,
 2832: 228,
 2843: 229,
 2987: 230,
 3668: 231,
 277: 232,
 1283: 233,
 4607: 234,
 5294: 235,
 6236: 236,
 6298: 237,
 6693: 238,
 6784: 239,
 6993: 240,
 7137: 241,
 7241: 242,
 7306: 243,
 7355: 244,
 7398: 245,
 7419: 246,
 7572: 247,
 7679: 248,
 7750: 249,
 7758: 250,
 8045: 251,
 8287: 252,
 8358: 253,
 8448: 254,
 8491: 255,
 8532: 256,
 8663: 257,
 8810: 258,
 30: 259,
 545: 260,
 565: 261,
 585: 262,
 656: 263,
 696: 264,
 831: 265,
 852: 266,
 961: 267,
 970: 268,
 999: 269,
 1053: 270,
 1543: 271,
 1700: 272,
 1823: 273,
 2140: 274,
 2278: 275,
 2414: 276,
 2941: 277,
 3330: 278,
 3661: 279,
 3729: 280,
 4039: 281,
 4044: 282,
 4116: 283,
 4267: 284,
 4588: 285,
 5042: 286,
 5070: 287,
 5491: 288,
 7097: 289,
 7168: 290,
 20: 291,
 31: 292,
 41: 293,
 47: 294,
 52: 295,
 94: 296,
 108: 297,
 109: 298,
 135: 299,
 143: 300,
 148: 301,
 161: 302,
 183: 303,
 189: 304,
 198: 305,
 211: 306,
 228: 307,
 278: 308,
 300: 309,
 303: 310,
 306: 311,
 309: 312,
 315: 313,
 326: 314,
 361: 315,
 391: 316,
 413: 317,
 429: 318,
 444: 319,
 471: 320,
 472: 321,
 506: 322,
 512: 323,
 515: 324,
 577: 325,
 604: 326,
 628: 327,
 676: 328,
 680: 329,
 681: 330,
 684: 331,
 686: 332,
 690: 333,
 692: 334,
 694: 335,
 702: 336,
 711: 337,
 718: 338,
 799: 339,
 808: 340,
 816: 341,
 818: 342,
 823: 343,
 825: 344,
 832: 345,
 839: 346,
 883: 347,
 885: 348,
 890: 349,
 900: 350,
 904: 351,
 911: 352,
 925: 353,
 948: 354,
 957: 355,
 964: 356,
 977: 357,
 981: 358,
 986: 359,
 1001: 360,
 1070: 361,
 1112: 362,
 1123: 363,
 1198: 364,
 1231: 365,
 1289: 366,
 1298: 367,
 1299: 368,
 1347: 369,
 1362: 370,
 1373: 371,
 1375: 372,
 1380: 373,
 1383: 374,
 1389: 375,
 1395: 376,
 1396: 377,
 1403: 378,
 1423: 379,
 1442: 380,
 1444: 381,
 1493: 382,
 1540: 383,
 1570: 384,
 1602: 385,
 1607: 386,
 1639: 387,
 1649: 388,
 1650: 389,
 1696: 390,
 1729: 391,
 1740: 392,
 1752: 393,
 1760: 394,
 1790: 395,
 1854: 396,
 1948: 397,
 1959: 398,
 2013: 399,
 2035: 400,
 2077: 401,
 2078: 402,
 2083: 403,
 2096: 404,
 2135: 405,
 2157: 406,
 2196: 407,
 2200: 408,
 2236: 409,
 2295: 410,
 2306: 411,
 2323: 412,
 2326: 413,
 2380: 414,
 2391: 415,
 2411: 416,
 2440: 417,
 2486: 418,
 2507: 419,
 2514: 420,
 2543: 421,
 2601: 422,
 2619: 423,
 2640: 424,
 2677: 425,
 2827: 426,
 2876: 427,
 2903: 428,
 2912: 429,
 2955: 430,
 2979: 431,
 2984: 432,
 2994: 433,
 3000: 434,
 3001: 435,
 3006: 436,
 3007: 437,
 3011: 438,
 3012: 439,
 3038: 440,
 3065: 441,
 3083: 442,
 3099: 443,
 3136: 444,
 3147: 445,
 3152: 446,
 3156: 447,
 3161: 448,
 3168: 449,
 3191: 450,
 3214: 451,
 3236: 452,
 3407: 453,
 3470: 454,
 3481: 455,
 3560: 456,
 3569: 457,
 3574: 458,
 3613: 459,
 32: 460,
 33: 461,
 35: 462,
 123: 463,
 126: 464,
 217: 465,
 225: 466,
 229: 467,
 251: 468,
 260: 469,
 302: 470,
 322: 471,
 337: 472,
 355: 473,
 412: 474,
 450: 475,
 464: 476,
 467: 477,
 507: 478,
 511: 479,
 514: 480,
 1: 481,
 3: 482,
 4: 483,
 6: 484,
 7: 485,
 9: 486,
 10: 487,
 12: 488,
 14: 489,
 15: 490,
 16: 491,
 18: 492,
 21: 493,
 23: 494,
 24: 495,
 25: 496,
 26: 497,
 37: 498,
 39: 499,
 42: 500,
 49: 501,
 53: 502,
 54: 503,
 55: 504,
 58: 505,
 59: 506,
 68: 507,
 71: 508,
 77: 509,
 78: 510,
 79: 511,
 80: 512,
 81: 513,
 82: 514,
 84: 515,
 88: 516,
 90: 517,
 92: 518,
 93: 519,
 99: 520,
 100: 521,
 113: 522,
 115: 523,
 116: 524,
 118: 525,
 119: 526,
 131: 527,
 132: 528,
 133: 529,
 134: 530,
 138: 531,
 140: 532,
 142: 533,
 146: 534,
 149: 535,
 151: 536,
 152: 537,
 153: 538,
 156: 539,
 157: 540,
 160: 541,
 162: 542,
 165: 543,
 166: 544,
 169: 545,
 172: 546,
 173: 547,
 175: 548,
 176: 549,
 177: 550,
 178: 551,
 180: 552,
 185: 553,
 186: 554,
 187: 555,
 191: 556,
 192: 557,
 196: 558,
 200: 559,
 202: 560,
 203: 561,
 205: 562,
 206: 563,
 209: 564,
 212: 565,
 214: 566,
 215: 567,
 216: 568,
 218: 569,
 220: 570,
 221: 571,
 222: 572,
 226: 573,
 230: 574,
 232: 575,
 233: 576,
 235: 577,
 236: 578,
 238: 579,
 239: 580,
 241: 581,
 243: 582,
 244: 583,
 249: 584,
 250: 585,
 252: 586,
 253: 587,
 254: 588,
 262: 589,
 263: 590,
 264: 591,
 269: 592,
 271: 593,
 272: 594,
 273: 595,
 274: 596,
 276: 597,
 285: 598,
 287: 599,
 288: 600,
 290: 601,
 294: 602,
 295: 603,
 297: 604,
 298: 605,
 301: 606,
 305: 607,
 308: 608,
 310: 609,
 311: 610,
 312: 611,
 313: 612,
 316: 613,
 317: 614,
 318: 615,
 319: 616,
 324: 617,
 328: 618,
 329: 619,
 332: 620,
 334: 621,
 335: 622,
 338: 623,
 339: 624,
 340: 625,
 350: 626,
 356: 627,
 359: 628,
 360: 629,
 363: 630,
 370: 631,
 376: 632,
 378: 633,
 379: 634,
 381: 635,
 383: 636,
 387: 637,
 395: 638,
 396: 639,
 399: 640,
 401: 641,
 404: 642,
 406: 643,
 407: 644,
 410: 645,
 415: 646,
 422: 647,
 426: 648,
 427: 649,
 428: 650,
 430: 651,
 431: 652,
 434: 653,
 438: 654,
 440: 655,
 443: 656,
 445: 657,
 451: 658,
 455: 659,
 459: 660,
 465: 661,
 469: 662,
 470: 663,
 473: 664,
 475: 665,
 478: 666,
 480: 667,
 494: 668,
 497: 669,
 505: 670,
 519: 671,
 521: 672,
 527: 673,
 533: 674,
 534: 675,
 540: 676,
 543: 677,
 552: 678,
 555: 679,
 568: 680,
 570: 681,
 572: 682,
 574: 683,
 578: 684,
 579: 685,
 580: 686,
 584: 687,
 600: 688,
 607: 689,
 609: 690,
 612: 691,
 618: 692,
 625: 693,
 627: 694,
 629: 695,
 630: 696,
 639: 697,
 644: 698,
 647: 699,
 649: 700,
 650: 701,
 651: 702,
 654: 703,
 655: 704,
 658: 705,
 662: 706,
 668: 707,
 669: 708,
 673: 709,
 675: 710,
 747: 711,
 748: 712,
 751: 713,
 755: 714,
 758: 715,
 760: 716,
 762: 717,
 764: 718,
 811: 719,
 812: 720,
 821: 721,
 602: 722,
 706: 723,
 838: 724,
 944: 725,
 1186: 726,
 1210: 727,
 1266: 728,
 1321: 729,
 1397: 730,
 2006: 731,
 2016: 732,
 2028: 733,
 2038: 734,
 2353: 735,
 2504: 736,
 2696: 737,
 2888: 738,
 2916: 739,
 2962: 740,
 2978: 741,
 2998: 742,
 3133: 743,
 3189: 744,
 3192: 745,
 3229: 746,
 3409: 747,
 3441: 748,
 3535: 749,
 3554: 750,
 3563: 751,
 3609: 752,
 3633: 753,
 3635: 754,
 3740: 755,
 3814: 756,
 3827: 757,
 3868: 758,
 3880: 759,
 3885: 760,
 3910: 761,
 3979: 762,
 4070: 763,
 4131: 764,
 4153: 765,
 4155: 766,
 4328: 767,
 4345: 768,
 4416: 769,
 4421: 770,
 4600: 771,
 4631: 772,
 4786: 773,
 4791: 774,
 4793: 775,
 4931: 776,
 5122: 777,
 5150: 778,
 5156: 779,
 5161: 780,
 5212: 781,
 5250: 782,
 5259: 783,
 5260: 784,
 5290: 785,
 5299: 786,
 5319: 787,
 5322: 788,
 5331: 789,
 5332: 790,
 5354: 791,
 5360: 792,
 5361: 793,
 5363: 794,
 5365: 795,
 5370: 796,
 5371: 797,
 5380: 798,
 5674: 799,
 5725: 800,
 5726: 801,
 5791: 802,
 5804: 803,
 5805: 804,
 5817: 805,
 5834: 806,
 5867: 807,
 5880: 808,
 5901: 809,
 5907: 810,
 5915: 811,
 5927: 812,
 5993: 813,
 6006: 814,
 6071: 815,
 6192: 816,
 6195: 817,
 6201: 818,
 6207: 819,
 6221: 820,
 6315: 821,
 6321: 822,
 6329: 823,
 6332: 824,
 6335: 825,
 6351: 826,
 504: 827,
 158: 828,
 532: 829,
 704: 830,
 794: 831,
 833: 832,
 1258: 833,
 1463: 834,
 1485: 835,
 1497: 836,
 1710: 837,
 2160: 838,
 2183: 839,
 2389: 840,
 2492: 841,
 2789: 842,
 3074: 843,
 3352: 844,
 3870: 845,
 3874: 846,
 3898: 847,
 3915: 848,
 4082: 849,
 4083: 850,
 4090: 851,
 4104: 852,
 4105: 853,
 4106: 854,
 4111: 855,
 4135: 856,
 4139: 857,
 4141: 858,
 4152: 859,
 4161: 860,
 4186: 861,
 785: 862,
 826: 863,
 945: 864,
 1004: 865,
 2895: 866,
 3282: 867,
 3673: 868,
 3826: 869,
 3981: 870,
 4125: 871,
 4136: 872,
 4221: 873,
 4282: 874,
 4354: 875,
 4417: 876,
 4636: 877,
 4788: 878,
 4790: 879,
 4792: 880,
 4803: 881,
 4858: 882,
 4910: 883,
 4935: 884,
 4939: 885,
 5213: 886,
 5217: 887,
 5321: 888,
 5369: 889,
 5721: 890,
 5767: 891,
 5780: 892,
 5863: 893,
 5895: 894,
 6041: 895,
 6046: 896,
 6056: 897,
 6241: 898,
 6416: 899,
 6420: 900,
 6422: 901,
 6517: 902,
 6621: 903,
 6641: 904,
 6665: 905,
 6727: 906,
 6731: 907,
 6770: 908,
 6797: 909,
 6813: 910,
 6869: 911,
 6888: 912,
 6912: 913,
 6951: 914,
 7022: 915,
 7039: 916,
 7061: 917,
 7070: 918,
 7074: 919,
 7139: 920,
 7154: 921,
 7166: 922,
 7171: 923,
 7187: 924,
 7190: 925,
 7195: 926,
 7197: 927,
 7239: 928,
 7314: 929,
 7346: 930,
 7354: 931,
 7399: 932,
 7442: 933,
 7449: 934,
 7450: 935,
 7460: 936,
 7468: 937,
 7505: 938,
 7578: 939,
 7601: 940,
 7629: 941,
 7647: 942,
 7731: 943,
 7784: 944,
 7849: 945,
 7888: 946,
 7903: 947,
 7909: 948,
 7911: 949,
 7937: 950,
 7979: 951,
 8008: 952,
 8018: 953,
 8182: 954,
 8183: 955,
 8227: 956,
 8247: 957,
 8278: 958,
 8285: 959,
 8299: 960,
 8354: 961,
 8370: 962,
 8429: 963,
 8467: 964,
 8476: 965,
 8618: 966,
 8769: 967,
 8911: 968,
 8952: 969,
 8988: 970,
 40: 971,
 333: 972,
 446: 973,
 463: 974,
 837: 975,
 1045: 976,
 1052: 977,
 1065: 978,
 1104: 979,
 1154: 980,
 1188: 981,
 1205: 982,
 1208: 983,
 1216: 984,
 1271: 985,
 1275: 986,
 1290: 987,
 1352: 988,
 1372: 989,
 1398: 990,
 1476: 991,
 1501: 992,
 1044: 993,
 1080: 994,
 1370: 995,
 1536: 996,
 1562: 997,
 1820: 998,
 1869: 999,
 ...}

In [50]:
df['userId'] = df['userId'].apply(lambda x: userid2idx[x])
df['movieId'] = df['movieId'].apply(lambda x: movieid2idx[x])

In [51]:
df

        userId  movieId  rating   timestamp
0            0        0     4.0   964982703
1            0        1     4.0   964981247
2            0        2     4.0   964982224
3            0        3     5.0   964983815
4            0        4     5.0   964982931
...        ...      ...     ...         ...
100831     609     3120     4.0  1493848402
100832     609     2035     5.0  1493850091
100833     609     3121     5.0  1494273047
100834     609     1392     5.0  1493846352
100835     609     2873     3.0  1493846415

[100836 rows x 4 columns]

In [68]:
split = np.random.rand(len(df)) < 0.8
train = df[split]
valid = df[~split]
print(train.shape , valid.shape)

(80586, 4) (20250, 4)

### Using a Neural Network¶
Now let us focus on the other main thing!!! Using a NN to matrix factorization.
1) Note that this way is not much different from the previous approach.

2) The main difference is that we have used Fully Connected layers as well as the Dropout layers and the BatchNormalization layers.

3) The number of units and the number of layers etc.. are the hyperparametrs here as in a traditional neural network.

In [70]:
n_latent_factors=50
n_movies=len(df['movieId'].unique())
n_users=len(df['userId'].unique())
user_input=Input(shape=(1,),name='user_input',dtype='int64')
user_embedding=Embedding(n_users,n_latent_factors,name='user_embedding')(user_input)
user_vec=Flatten(name='FlattenUsers')(user_embedding)
user_vec=Dropout(0.40)(user_vec)
movie_input=Input(shape=(1,),name='movie_input',dtype='int64')
movie_embedding=Embedding(n_movies,n_latent_factors,name='movie_embedding')(movie_input)
movie_vec=Flatten(name='FlattenMovies')(movie_embedding)
movie_vec=Dropout(0.40)(movie_vec)
sim=dot([user_vec,movie_vec],name='Simalarity-Dot-Product',axes=1)

In [71]:
nn_inp=Dense(96,activation='relu')(sim)
nn_inp=Dropout(0.4)(nn_inp)
# nn_inp=BatchNormalization()(nn_inp)
nn_inp=Dense(1,activation='relu')(nn_inp)
nn_model =keras.models.Model([user_input, movie_input],nn_inp)
nn_model.summary()

Model: "model"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
user_input (InputLayer)         [(None, 1)]          0
__________________________________________________________________________________________________
movie_input (InputLayer)        [(None, 1)]          0
__________________________________________________________________________________________________
user_embedding (Embedding)      (None, 1, 50)        30500       user_input[0][0]
__________________________________________________________________________________________________
movie_embedding (Embedding)     (None, 1, 50)        486200      movie_input[0][0]
__________________________________________________________________________________________________
FlattenUsers (Flatten)          (None, 50)           0           user_embedding[0][0]
__________________________________________________________________________________________________
FlattenMovies (Flatten)         (None, 50)           0           movie_embedding[0][0]
__________________________________________________________________________________________________
dropout (Dropout)               (None, 50)           0           FlattenUsers[0][0]
__________________________________________________________________________________________________
dropout_1 (Dropout)             (None, 50)           0           FlattenMovies[0][0]
__________________________________________________________________________________________________
Simalarity-Dot-Product (Dot)    (None, 1)            0           dropout[0][0]
                                                                 dropout_1[0][0]
__________________________________________________________________________________________________
dense (Dense)                   (None, 96)           192         Simalarity-Dot-Product[0][0]
__________________________________________________________________________________________________
dropout_2 (Dropout)             (None, 96)           0           dense[0][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 1)            97          dropout_2[0][0]
==================================================================================================
Total params: 516,989
Trainable params: 516,989
Non-trainable params: 0
__________________________________________________________________________________________________

In [72]:
nn_model.compile(optimizer=Adam(lr=1e-3),loss='mse')

In [73]:
batch_size=128
epochs=20

In [74]:
History = nn_model.fit([train.userId,train.movieId],train.rating, batch_size=batch_size,
                              epochs =epochs, validation_data = ([valid.userId,valid.movieId],valid.rating),
                              verbose = 1)

Epoch 1/20
630/630 [==============================] - 5s 6ms/step - loss: 2.7651 - val_loss: 1.0712
Epoch 2/20
630/630 [==============================] - 3s 5ms/step - loss: 1.2203 - val_loss: 1.0302
Epoch 3/20
630/630 [==============================] - 4s 6ms/step - loss: 1.0074 - val_loss: 0.8982
Epoch 4/20
630/630 [==============================] - 3s 5ms/step - loss: 0.8322 - val_loss: 0.8549
Epoch 5/20
630/630 [==============================] - 4s 6ms/step - loss: 0.7395 - val_loss: 0.8342
Epoch 6/20
630/630 [==============================] - 4s 6ms/step - loss: 0.6833 - val_loss: 0.8246
Epoch 7/20
630/630 [==============================] - 4s 6ms/step - loss: 0.6415 - val_loss: 0.8105
Epoch 8/20
630/630 [==============================] - 3s 5ms/step - loss: 0.6047 - val_loss: 0.8064
Epoch 9/20
630/630 [==============================] - 3s 6ms/step - loss: 0.5748 - val_loss: 0.8020
Epoch 10/20
630/630 [==============================] - 4s 6ms/step - loss: 0.5527 - val_loss: 0.8072
Epoch 11/20
630/630 [==============================] - 4s 6ms/step - loss: 0.5298 - val_loss: 0.7983
Epoch 12/20
630/630 [==============================] - 4s 6ms/step - loss: 0.5039 - val_loss: 0.7963
Epoch 13/20
630/630 [==============================] - 3s 6ms/step - loss: 0.4942 - val_loss: 0.7949
Epoch 14/20
630/630 [==============================] - 3s 5ms/step - loss: 0.4766 - val_loss: 0.7914
Epoch 15/20
630/630 [==============================] - 4s 6ms/step - loss: 0.4677 - val_loss: 0.7882
Epoch 16/20
630/630 [==============================] - 4s 6ms/step - loss: 0.4586 - val_loss: 0.7855
Epoch 17/20
630/630 [==============================] - 4s 6ms/step - loss: 0.4478 - val_loss: 0.7849
Epoch 18/20
630/630 [==============================] - 4s 6ms/step - loss: 0.4433 - val_loss: 0.7870
Epoch 19/20
630/630 [==============================] - 4s 6ms/step - loss: 0.4350 - val_loss: 0.7852
Epoch 20/20
630/630 [==============================] - 4s 6ms/step - loss: 0.4295 - val_loss: 0.7869